
<input
    (keyup.enter)="createPost(title)" 
    #title
    type="text"
    placeholder="Add a new post"
    class="form-control">
<br>
<ul class="list-group">
    <li
        *ngFor="let post of posts"
        class="list-group-item">
        {{ post.title }}
        <button 
            (click)="deletePost(post)"
            class="btn btn-default btn-sm btn-edit btn-delete">
            <span 
                class="glyphicon glyphicon-trash">
            </span>
        </button>
        <button 
            (click)="updatePost(post)"
            class="btn btn-default btn-sm btn-edit">
            <span 
                class="glyphicon glyphicon-edit">
            </span>
        </button>
    </li>
</ul>