
button {
    margin: 5px;
}

.alert-danger {
    font-size: 12px;
    padding: 5px 10px;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid #ebccd1;
    color: #a94442;
}

.card {
    padding: 10px;
}

.card-img-top {
    padding: 20px;
}