
<p>
    <a 
        routerLink="/admin/products/add" 
        class="btn btn-primary">
        New Product
    </a>
</p>
<p>
    <input 
        #query
        (keyup)="filter(query.value)"
        type="text" 
        placeholder="Search..."
        class="form-control">
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{ p.payload.val().title }}</td>
            <td>{{ p.payload.val().price | currency:'GBP' }}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.payload.key]">
                    <span class="material-symbols-outlined">
                        edit
                    </span> 
                </a>
            </td>
        </tr>
    </tbody>
</table>