
<button
  (click)="ngOnDestroy()">
  Go Offline
</button>

<br>
<br>
<br>

<input type="text" (keyup.enter)="add(course)" #course>

<br>

<h3> /Courses/1 </h3>
<p> {{ course1$ | async | json }} </p>

<h3> /Courses/4 </h3>
<p> {{ course4$ | async | json }} </p>

<br>

<!-- BEFORE -->
<h3>Without as</h3>
<ul>
  <li> {{ (course4$ | async)?.author }} </li>
  <li> {{ (course4$ | async)?.name }} </li>
  <li> {{ (course4$ | async)?.isComplex }} </li>
  <li> {{ (course4$ | async)?.price }} </li>
</ul>

<!-- AFTER -->
<h3>With as</h3>
<ul *ngIf="course4$ | async as course4">
  <li> {{ course4.author }} </li>
  <li> {{ course4.name }} </li>
  <li> {{ course4.isComplex }} </li>
  <li> {{ course4.price }} </li>
</ul>

<br>

<h3>With async Pipe</h3>
<ul>
  <li *ngFor="let course of courses | async">
    {{ course.value.name || course.value }}
    <button
      (click)="update(course)">
      Update
    </button>
    <button
      (click)="delete(course)">
      Delete
    </button>
  </li>
</ul>

<br>

<h3>Without async Pipe</h3>
<ul>
  <li *ngFor="let course of courses2 ">
    {{ course }}
  </li>
</ul>