
<div class="row">
    <div class="col-3"> <!-- Boostrap divides the page into 12 coluumns, col-3 is 25% of the width -->
        <product-filter [categorySelected]="categorySelected"></product-filter>
    </div>
    <div class="col">
        <div class="row">
            <ng-container
                *ngFor="let p of filteredProducts; let i = index">
                <div class="col">
                    <product-card [product]="p" [shopping-cart]="cart"></product-card>
                </div>
                <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
                <!-- I think the layout looks better as 4-cols, so I removed the line break above^ -->
            </ng-container>
        </div>
    </div>
</div>
