/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 50px;
    width: 66%;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid #ebccd1;
    color: #a94442;
}