<form [formGroup]="form" (ngSubmit)="login()">
    <div 
        *ngIf="form.errors"
        class="alert alert-danger">
        Username or password is invalid.
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control">
        <span 
            *ngIf="username?.pending" 
            class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </span>
        <div 
            *ngIf="username?.dirty && username?.invalid"
            class="alert alert-danger">
            <div *ngIf="username?.errors?.['required']">
                Username is required.
            </div>
            <div *ngIf="username?.errors?.['minlength']">
                Username must be minimum {{ username?.errors?.['minlength'].requiredLength }} characters.
            </div>
            <div *ngIf="username?.errors?.['cannotContainSpace']">
                {{ username?.errors?.['cannotContainSpace'].message }}
            </div>
            <div *ngIf="username?.errors?.['shouldBeUnique']">
                {{ username?.errors?.['shouldBeUnique'].message }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control">
        <div 
            *ngIf="password?.touched && password?.invalid"
            class="alert alert-danger">
            Password is required.
        </div>
    </div>
    <div formGroupName="account">
        <div class="form-group">
            <label for="accountUsername">Account Username</label>
            <input 
                formControlName="accountUsername"
                id="accountUsername" 
                type="text" 
                class="form-control">
        </div>
        <div class="form-group">
            <label for="topics">Add Topics</label>
            <input 
                type="text" 
                class="form-control"
                #topic
                (keyup.enter)="addTopic(topic)">
            <ul class="list-group">
                <li 
                    *ngFor="let topic of topics.controls"
                    (click)="removeTopic(topic)"
                    class="list-group-item">
                    {{ topic.value }}
                </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>