<h1>Shopping Cart</h1>
<!-- <ng-container *ngIf="cart$ | async as cart">  -->
<div 
    class="row col-10"
    *ngIf="cart$ | async as cart"> 
<!-- <ng-container/div> is used so we can unwrap the observable once and use 'cart' across multiple elements -->
    <p style="color: grey">
        You have {{ cart.totalItemsCount }} items in your shopping cart
    </p>
    <br>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Product
                </th>
                <th
                    class="text-center"
                    width="230px">
                    Quantity
                </th>
                <th
                    class="text-right"
                    width="200px">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let productId of cart.productIds"> -->
            <tr *ngFor="let item of cart.items">
                <td>
                    <div 
                        [style.backgroundImage]="'url(' + item.imageUrl + ')'"
                        class="thumbnail">
                    </div>
                </td>
                <td>
                    <!-- {{ cart.items[productId].product.title }} -->
                    {{ item.title }}
                </td>
                <td>
                    <!-- {{ cart.items[productId].quantity }} -->
                    <!-- {{ item.quantity }} -->
                    <product-quantity
                        [product]="item"
                        [shopping-cart]="cart">
                    </product-quantity>
                </td>
                <td class="text-right">
                    <!-- {{ item.product.price * item.quantity }}  -->
                    <!-- ^avoid writting expressions in your template, create properties in your typescript class -->
                    {{ item.totalPrice | currency:'GBP' }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th class="text-right">
                    {{ cart.totalPrice | currency:'GBP' }}
                </th>
            </tr>
        </tfoot>
    </table>
    <button 
        (click)="clearCart()"
        class="btn btn-danger btn-sm">
        Clear Cart
    </button>
</div>