<mat-checkbox
  #showDetails
  [checked]="isChecked"
  (change)="onChange($event)">
  Show details
</mat-checkbox>
<div 
  *ngIf="showDetails.checked"> 
  Some details... 
</div>

<br>
<br>
<br>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">
    Male
  </mat-radio-button>
  <mat-radio-button value="2">
    Female
  </mat-radio-button>
</mat-radio-group>

<br>
<br>
<br>
<mat-form-field appearance="fill">
  <mat-label
    [style.color]="colours[colourIdSelected]">
    Favorite colour
  </mat-label>
  <mat-select
    [(ngModel)]="colourIdSelected">
    <mat-option 
      *ngFor="let colour of colours" 
      [value]="colour.id">
      {{ colour.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<br>
<br>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="" appearance="fill">
    <input 
      ngModel
      #username="ngModel"
      name="username"
      matInput 
      type="text" 
      placeholder="username" 
      required>
    <span matPrefix>admin.</span>
    <span matSuffix>@domain.co.uk</span>
    <mat-error *ngIf="username.invalid && username.errors?.['required']"> 
      The username is required
    </mat-error>
  </mat-form-field> <!-- showcase only, looks dodgey -->

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea 
      matInput 
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      placeholder="Ex. It makes me feel...">
    </textarea>
    <mat-hint>Tell us what you really think!</mat-hint>
  </mat-form-field>

  <br>
  <br>
  <br>
  <mat-form-field 
    appearance="fill">
    <mat-label>
      Choose your birthdate
    </mat-label>
    <input 
      (focus)="birthdate.open()"
      matInput 
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="birthdate">
    <mat-datepicker-toggle
      matSuffix [for]="birthdate">
    </mat-datepicker-toggle>
    <mat-datepicker 
      #birthdate
      touchUi="true"> 
    </mat-datepicker>
  </mat-form-field>
</form>

<br>
<br>
<br>
<mat-icon class="add-photo">add_a_photo</mat-icon>

<br>
<br>
<br>
<button mat-button>Basic Button</button>
<button mat-raised-button color="primary">Raised Primary</button>
<button mat-stroked-button color="accent">Stroked Accent</button>
<button mat-flat-button color="warn">Flat Warn</button>
<button mat-fab color="primary"><mat-icon>check</mat-icon></button>

<br>
<br>
<br>
<mat-chip-list>
  <mat-chip 
    selected="true" 
    color="accent">
    One
  </mat-chip>
  <mat-chip>
    Two
  </mat-chip>
</mat-chip-list>
<br>
<mat-chip-list>
  <mat-chip 
    *ngFor="let course of courses"
    (click)="selectCategory(course)"
    [selected]="course.selected"
    id="courses-chip-{{course.id}}">
    {{ course.name }}
  </mat-chip>
</mat-chip-list>

<br>
<br>
<br>
<mat-progress-spinner 
  mode="determinate" 
  [value]="progress">
</mat-progress-spinner>
<mat-progress-spinner 
  *ngIf="isLoading"
  mode="indeterminate">
</mat-progress-spinner>
<br><br>
<button 
  mat-fab 
  color="primary" 
  matTooltip="Click to restart spinners"
  matTooltipPosition="right"
  (click)="restartTimer()">
  <mat-icon>restart_alt</mat-icon>
</button>

<br>
<br>
<br>
<mat-tab-group
  animationDuration="0ms">
  <mat-tab 
    class="admin"
    label="Billing">
    <div class="admin-body">
      Billing Tab Content
    </div>
  </mat-tab>
  <mat-tab 
    class="admin"
    label="Shipping">
    <div class="admin-body">
      Shipping Tab Content
    </div>
  </mat-tab>
</mat-tab-group>

<br>
<br>
<br>
<button
  (click)="openDialog()"
  mat-raised-button>
  Open Dialog
</button>



<br>
<br>
<br>