<div 
    class="card" 
    *ngIf="product.title != ''"
    style="width: 18rem;">
    <img
        [src]="product.payload.val().imageUrl" 
        class="card-img-top">
    <div 
        class="card-body">
        <h5 
            class="card-title">
            {{ product.payload.val().title }}
        </h5>
        <p 
            class="card-text">
            {{ product.payload.val().price | currency:'GBP' }}
        </p>
    </div>
    <div 
        *ngIf="showActions"
        class="card-footer">
        <button 
            *ngIf="getQuantity() === 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-primary btn-block">
            Add to Cart
        </button>
        <ng-template #updateQuantity>
            <div class="row no-gutters">
                <div class="col-2">
                    <button 
                        (click)="removeFromCart()"
                        class="btn btn-danger btn-block">
                        -
                    </button>
                </div>
                <div class="col text-center">
                    {{ getQuantity() }}
                </div>
                <div class="col-2">
                    <button 
                        (click)="addToCart()"
                        class="btn btn-success btn-block">
                        +
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<!-- https://getbootstrap.com/docs/4.3/components/card/ -->