<form [formGroup]="form" (ngSubmit)="submitChangePassword()">
    <div 
        *ngIf="form.errors"
        class="alert alert-danger">
        Password change failed.
    </div>
    <div class="form-group">
        <label for="password-current">Current Password</label>
        <input 
            formControlName="passwordCurrent"
            id="password-current" 
            type="password"
            [class.success]="passwordCurrent?.touched && passwordCurrent?.valid"
            class="form-control">
        <span 
            *ngIf="passwordCurrent?.pending" 
            class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </span>
        <div 
            *ngIf="passwordCurrent?.touched && passwordCurrent?.invalid"
            class="alert alert-danger">
            <div *ngIf="passwordCurrent?.errors?.['required']">
                Current password is required.
            </div>
            <div *ngIf="passwordCurrent?.errors?.['mustBeCurrent']">
                {{ passwordCurrent?.errors?.['mustBeCurrent'].message }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password-new">New Password</label>
        <input 
            formControlName="passwordNew"
            id="password-new" 
            type="password" 
            [class.success]="passwordNew?.touched && passwordNew?.valid"
            class="form-control">
        <div 
            *ngIf="passwordNew?.touched && passwordNew?.invalid"
            class="alert alert-danger">
            <div *ngIf="passwordNew?.errors?.['required']">
                New password is required.
            </div>
            <div *ngIf="passwordNew?.errors?.['notNew']">
                {{ passwordNew?.errors?.['notNew'].message }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input 
            formControlName="passwordConfirm"
            id="password-confirm" 
            type="password"
            [class.success]="passwordConfirm?.touched && passwordConfirm?.valid"
            class="form-control">
        <div 
            *ngIf="passwordConfirm?.touched && passwordConfirm?.invalid"
            class="alert alert-danger">
            <div *ngIf="passwordConfirm?.errors?.['required']">
                Confirm password is required.
            </div>
            <div *ngIf="passwordConfirm?.errors?.['noMatch']">
                {{ passwordConfirm?.errors?.['noMatch'].message }}
            </div>
        </div>
    </div>
    <p> {{ form.value | json }} </p>
    <button 
        class="btn btn-primary" 
        type="submit">
        Confirm
    </button>
</form>