<!-- Bootstrap Form Example -->
<form #form="ngForm" (ngSubmit)="submit(form)">
    <div 
        ngModelGroup="contact" 
        #contact="ngModelGroup">
        <div *ngIf="contact.touched && !contact.valid">
            ...contact group validation errors...
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                required
                minlength="3"
                maxlength="10" 
                pattern="^[a-zA-Z]*$"
                ngModel 
                name="firstName" 
                #firstName="ngModel" 
                (change)="log(firstName)" 
                id="firstName" 
                type="text" 
                class="form-control">
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors?.['required']">
                    First name is required.
                </div>
                <div *ngIf="firstName.errors?.['minlength']">
                    First name must be at least {{ firstName.errors?.['minlength'].requiredLength }} characters.
                </div>
                <!-- Input prevents any more characters than <maxlength> for us -->
                <div *ngIf="firstName.errors?.['pattern']">
                    First name must be alphabetical.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea 
            ngModel 
            name="comment" 
            id="comment" 
            cols="30" rows="10" 
            class="form-control">
        </textarea>
    </div>
    <br>
    <div class="form-group checkbox">
        <label>
            <input 
                ngModel 
                name="isSubscribed" 
                type="checkbox"> 
                Subscribe to mailing list
        </label>
    </div>
    <br>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select 
            ngModel
            name="contactMethod" 
            id="contactMethod" 
            class="form-control">
            <option value=""></option> <!-- empty option improves usability -->
            <option 
                *ngFor="let method of contactMethods"
                [value]="method.id">
                {{ method.name }}
            </option>
        </select>
    </div>
    <div *ngFor="let method of contactMethods" class="radio">
        <label for="">
            <input 
                ngModel
                name="contactMethod"
                type="radio" 
                [value]="method.id">
                {{ method.name }}
        </label>
    </div>
    <p> {{ form.value | json }} </p>
    <button 
        [disabled]="!form.valid"
        class="btn btn-primary" 
        type="submit">
        Submit
    </button>
</form>
